<div class="wrapper">
    <div class="sidebar">
        <div class="logo">
            <h2>Medagascar</h2>
        </div>
        <br><br><br>
        <ul>
            <li><a href="/profile"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="/upload"><i class="fas fa-upload"></i>Upload</a></li>
            <li><a href="/prescription"><i class="fas fa-prescription"></i>Prescription</a></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Sign Out</a></li>
            <li><a href="/emergency"><i class="fas fa fa-medkit" aria-hidden="true"></i>Emergency</a></li>


        </ul>
    </div>
</div>