<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Medagascar</title>
        <link rel="stylesheet" href="css/Register.css">
    </head>

    <body>

        <section>

            <div class="imgBx">
                <img
                    src="/health_checkup_image.jpg">
            </div>

            <div class="contentBx">

                <div class="formBx">

                    <h2>REGISTER</h2>

                    <form method="post" action="/signup">

                        <div class="inputBx">
                            <label>Name : </label>
                            <input type="text" name="name"> <br><br>
                        </div>

                        <div class="inputBx">
                            <label>Age : </label>
                            <input type="text" name="dob"><br><br>
                        </div>

                        <div class="inputBx">
                            <label>Gender : </label>
                            <input type="Radio" name="gender" value="Male">Male
                            <input type="Radio" name="gender" value="Female">Female
                            <input type="Radio" name="gender" value="Transgender">Transgender
                            <input type="Radio" name="gender" value="Other">Other<br><br>
                        </div>

                        <div class="inputBx">
                            <label>Email : </label>
                            <input type="text" name="email"><br><br>
                        </div>

                        <div class="inputBx">
                            <label>Password : </label>
                            <input type="password" name="password"><br><br><br>
                        </div>

                        <div class="inputBx">
                            <input type="submit" id="" value="Submit">
                            <input type="submit" id="" value="Cancel">
                        </div>

                        <div class="inputBx">
                            <p>Have an account? <a href="/signin">Sign in</a></p>
                        </div>

                    </form>

                </div>

            </div>
        </section>

    </body>

</html>