<!DOCTYPE html>
<title>Medagascar</title>
<head>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    
    <link rel="stylesheet" href="/css/a-styles.css">
    
</head>
<body>
    
    
        <div class="wrapper">
            <div class="sidebar">
                <div class = "logo"><h2>Medagascar</h2></div>
                <br><br><br>
                <ul>
                  <li><a href="/profile"><i class="fas fa-user"></i>Profile</a></li>
                  <li><a href="/upload"><i class="fas fa-upload"></i>Upload</a></li>
                  <li><a href="/prescription"><i class="fas fa-prescription"></i>Prescription</a></li>
                  <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Sign Out</a></li>
                  <li><a href="/emergency"><i class="fas fa fa-medkit" aria-hidden="true"></i>Emergency</a></li>
                    
                </ul> 
                </div>
            </div>
        </div>
        <div class="m-form">
          <form action="/medicine" method="post">
            <div class="title">Medicine</div>
            <div class="input-container ic1">
              <input id="firstname" class="input" type="text" placeholder=" " name="medicine" />
              <div class="cut"></div>
              <label for="firstname" class="placeholder">Name</label>
            </div>
            <div class="input-container ic2">
              <input id="lastname" class="input" type="date" placeholder=" " name="date" />
              <label for="lastname" class="placeholder"></label>
            </div>
            <button type="text" class="submit">Submit</button>
            </div>
          </form>
            
  
</body>
</html>
