<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Medagascar</title>
   
        <link rel="stylesheet" href="css/Register.css">
    </head>

    <body>

        <section>

            <div class="imgBx">
                <img
                    src="/health_checkup_image.jpg">
            </div>

            <div class="contentBx">

                <div class="formBx">

                    <h2>REGISTER</h2>

                    <form method="post" action="/signup">

                        <div class="inputBx">
                            <label>Name : </label>
                            <input type="text" name="name"> <br><br>
                            <label>Age : </label>
                            <input type="text" name="dob"><br><br>
                            <label>Gender : </label>
                            <input type="radio" name="gender" value="Male">Male
                            <input type="radio" name="gender" value="Female">Female
                            <input type="radio" name="gender" value="Transgender">Transgender
                            <input type="radio" name="gender" value="Other">Other<br><br>
                            <label>Doctor's email : </label>
                            <input type="email" name="docemail"><br><br><br>
                            <label>Email : </label>
                            <input type="text" name="email" autocomplete="off"><br><br>
                            <label>Password : </label>
                            <input type="password" name="password" autocomplete="off"><br><br><br>
                            <input type="submit" id="" value="Submit">
                            <input type="submit" id="" value="Cancel">
                           

                        </div>
                    </form>
                    <a href="/signin">Have an account? Signin</a>
                </div>

            </div>
           
        </section>

        

    </body>

</html>